BASE="/root/multimoodle" # La carpeta base sin "/" al final
MARIADB_PWD="unaclavedificil" # Clave de root de mariadb
MOODLE_PWD_DATABASE="unprefijodeclave" # prefijo para claves de acceso a base de datos de moodle
MOODLE_PWD_USER="unprefijodeclave" # prefijo para claves de acceso al propio moodle (la clave de admin)
EMAIL="unemail@para.certificado" # Para certificados Let's Encrypt (avisos de caducidad y tal)
